 
@using Microsoft.AspNetCore.Mvc.Rendering
@model AgendaCreateViewModel

<!-- Resto del código de la vista -->

<div class="form-group">
    <div class="form-group">
        <label>Servicio:</label>

        <select asp-for="IdServicio" asp-items="Model.Servicios">
            <option>-- Seleccionar --</option>
        </select>

        <span asp-validation-for="IdServicio"></span>
    </div>

    <div class="form-group">
        <label>Horario:</label>

        <select asp-for="IdHorario" asp-items="Model.Horarios">
            <option>-- Seleccionar --</option>
        </select>

        <span asp-validation-for="IdHorario"></span>
    </div>

    <div class="form-group">
        <label>Sede:</label>

        <select asp-for="IdSede" asp-items="Model.Sedes">
            <option>-- Seleccionar --</option>
        </select>

        <span asp-validation-for="IdSede"></span>
    </div>
</div>

